# Работа с БД mosmetro.db на SQLite

# HW:
- Создать БД **mosmetro.db** на SQLite с несколькими таблицами, например: станции, линии, районы. Настроить правильно поля: типы, FK, NOT NULL, AI, ... +
- **Мигрировать все данные из mosmetro.json в mosmetro.db** +
- показать список всех станций метро с параметрами (все поля как в json-файле) +
- показать список веток метрополитена и количество станций на каждой ветке +
- показать список ТОП-10 районов с наибольшим количеством станций метрополитена в порядке возрастания +
- показать список ТОП-5 веток метрополитена с наименьшим количеством действующих станций метро в порядке возрастания +
* P.S. Всю подготовку данных возложить на SQLite

In [41]:
# Создание таблицы, полей и параметров.
import sqlite3
from prettytable import from_db_cursor
db = sqlite3.connect("mosmetro.db") # Для легкой проверки можно поменять mosmetro.db на :memory:
cur = db.cursor()
db.execute("CREATE TABLE metro (id integer primary key AUTOINCREMENT NOT NULL, Station varchar(100), Line varchar(100), District varchar(100))")
db.commit()
# Добавить несколько табличек ( !!! )

# Второй файл с несколькими таблицами со своими запросами*

In [42]:
# Мигрировать все данные из mosmetro.json в mosmetro.db
import json
with open("mosmetro.json", encoding='utf-8') as f:
    data = json.load(f)
for line in data:
    cur.execute("INSERT INTO metro(Station,Line,District) VALUES (?,?,?)",[line['Station'],line['Line'],line['District']])
db.commit()
# Показать список всех станций метро с параметрами (все поля как в json-файле)
cur.execute("SELECT * FROM metro")
from_db_cursor(cur)

In [43]:
# Показать список веток метрополитена и количество станций на каждой ветке
cur.execute("SELECT Line, count(Station) FROM metro GROUP BY Line")
from_db_cursor(cur)

+-----------------------------------------------+----------------+
|                      Line                     | count(Station) |
+-----------------------------------------------+----------------+
|           Арбатско-Покровская линия           |       22       |
|            Большая кольцевая линия            |       29       |
|         Бутовская линия Лёгкого метро         |       7        |
|              Замоскворецкая линия             |       24       |
|               Калининская линия               |       8        |
|             Калужско-Рижская линия            |       24       |
|                Каховская линия                |       3        |
|                Кольцевая линия                |       13       |
|          Люблинско-Дмитровская линия          |       24       |
| Московская монорельсовая транспортная система |       6        |
|         Московское центральное кольцо         |       31       |
|               Некрасовская линия              |       11       |
|        Серпуховско-Тимирязевская линия        |       25       |
|              Сокольническая линия             |       26       |
|               Солнцевская линия               |       16       |
|        Таганско-Краснопресненская линия       |       23       |
|                Филёвская линия                |       13       |
+-----------------------------------------------+----------------+

In [44]:
# Показать список ТОП-10 районов с наибольшим количеством станций метрополитена в порядке возрастания
cur.execute("SELECT District, count(Station) FROM metro GROUP BY District ORDER BY count(station) desc LIMIT 10")
from_db_cursor(cur)

+----------------------+----------------+
|       District       | count(Station) |
+----------------------+----------------+
|    Тверской район    |       17       |
|  Пресненский район   |       11       |
|  район Дорогомилово  |       10       |
| район Замоскворечье  |       8        |
|   район Хамовники    |       7        |
|    район Раменки     |       7        |
|     район Арбат      |       7        |
|   Таганский район    |       7        |
|   Мещанский район    |       7        |
| Красносельский район |       7        |
+----------------------+----------------+

In [45]:
# Показать список ТОП-5 веток метрополитена с наименьшим количеством действующих станций метро в порядке возрастания
cur.execute("SELECT Line,count(Station) FROM metro GROUP BY Line ORDER BY count(Station)  LIMIT 5 ")
from_db_cursor(cur)

+-----------------------------------------------+----------------+
|                      Line                     | count(Station) |
+-----------------------------------------------+----------------+
|                Каховская линия                |       3        |
| Московская монорельсовая транспортная система |       6        |
|         Бутовская линия Лёгкого метро         |       7        |
|               Калининская линия               |       8        |
|               Некрасовская линия              |       11       |
+-----------------------------------------------+----------------+